* {
 margin: 0;
 padding: 0;
 border: 0;
 box-sizing: border-box;
 text-decoration: none;
}
body {
  background: linear-gradient(120deg, #caffbf 0%, #a0c4ff 100%);
  text-transform: capitalize;
}
.app_container {
  width: 70%;
  margin: 0 auto;
  /* background: #76c893; */
}

h1,h2 {
  text-align:center;
  padding: 2rem;
}

img{
    display: block;
    width: 100%;
    object-fit: cover;
}

.car_card{
  display: grid;
  grid-template-columns: 65% 30%;
  gap: 5%;
  margin: 2rem;
}

.car_detail{
  padding: 2rem 1rem;
}

.user_form {
  display: grid;
  gap: 2rem;
}

input,select {
  width: 14rem;
  padding: 0 0.5rem;
  border: none;
  outline: none;
  background: #fff;
  color: black;
  cursor: pointer;
  font-size: 20px;
  margin: 0.3rem;
}

 table {
   margin: 0 2rem;
   text-align: left;
 }

 .btn { 
    background: #34a0a4;
    padding: 0.75rem 1.2rem;
    margin: 0 auto 3rem;
    border-radius:0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}

.btn:hover{
  background:#168aad ;
}
